<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yourharts.www.bloodglucosetracker">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_hospital"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_hospital"
        android:supportsRtl="true">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yourharts.www.bloodglucosetracker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Elegant">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddMeasurementActivity"
            android:label="@string/title_activity_add_measurement"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Elegant"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yourharts.www.bloodglucosetracker.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Elegant">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yourharts.www.bloodglucosetracker.MainActivity" />
        </activity>
        <activity
            android:name=".DataActivity"
            android:label="Data Management"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Elegant">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yourharts.www.bloodglucosetracker.MainActivity" />
        </activity>
        <activity
            android:name=".ChartsActivity"
            android:label="Charts"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Elegant">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yourharts.www.bloodglucosetracker.MainActivity" />
        </activity>
        <service android:enabled="true"  android:name=".WearListener" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>
                <data android:scheme="wear" android:host="*" android:pathPrefix="/glucose" />
            </intent-filter>
        </service>
    </application>

</manifest>