<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourharts.www.bloodglucosetracker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_hospital"
        android:label="Blood Glucose Companion"
        android:roundIcon="@drawable/ic_hospital"
        android:supportsRtl="true">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yourharts.www.bloodglucosetracker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:label="Blood Glucose Companion"
            android:theme="@style/Elegant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddMeasurementActivity"
            android:label="@string/title_activity_add_measurement"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Elegant"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yourharts.www.bloodglucosetracker.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Elegant">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yourharts.www.bloodglucosetracker.MainActivity" />
        </activity>
    </application>

</manifest>